{% extends 'base.html.twig' %}

{% block title 'FAQ' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        <h1>FAQ</h1>
            <p>Vous pouvez touver les réponses à vos questions sur ce forum.</p>
        </div>
    </div>
        <div class="container mt-2">
            <h2>Posez vos questions par categories!</h2>
            <p>Nous y répondrons dans les meilleur délais.</p>
        </div>

{% endblock %}