{% extends 'base.html.twig' %}

{% block title %}Home Blog Denis{% endblock title %}

{% block body %}
<?php
require '/src/templates/testmail.php';
?>

<h1>Bienvenue dans mon Blog Symfony</h1>

{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}

<section>
</section>


<h2>Blog sur mes projets et forum de discussions</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perspiciatis eveniet dolore voluptatum consectetur sint, dolor debitis non nulla temporibus. Architecto minus pariatur illum rerum tempora odio, distinctio animi id. efefefzrgrgv</p>

{% endblock %}