{% extends 'base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block javascripts %}
    var i=33;setInterval(function()
    {document.write(String.fromCharCode(i)),i%30==0&&document.write("<br>"),i++},3);
{% endblock %}

{% block body %}

<h1>Test JS</h1>

{% endblock %}