<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="assets/css/bootstrap.css"> -->
        <link rel="stylesheet" href="../public/css/mycss.css">
        <!-- <link rel="stylesheet" href="/css/mycss.css"> -->

        <link rel="stylesheet" href="{{ ('css/app.css') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ ('css/app.css') }}">
        {% endblock %}
    </head>
    <body>

    {% block body %}

        {% include 'header.html.twig' %}

        {% if app.user %}
            <div class="container">
                <h3 class="text-success">Vous êtes bien connecté!</h3>
                {#{% block body %}{% endblock %}#}
            </div>
        {% else %}
            <div class="container">
                <h3 class="text-danger" >Vous n'etes pas connecté!</h3>
            </div>
        {% endif %}


            {% set show = "" %}
            {% if show is defined %}
                    {#{% include 'header.html.twig' %}#}

                {% set design = "Design<br />" %}
                {{ true ? design : "<br />Twig is true" }}   {# will be escaped #}
                {{ false ? design : "<br />Twig is false" }}   {# won't be escaped #}

            {% endif %}


        {% block footer %}

            {% include 'footer1.html.twig' %}

        {% endblock %}

    {% endblock %}


    {% block javascripts %}{% endblock %}

    </body>
</html>
